/** @format */

@import "tailwindcss";
@import "./blog.css";

.font-primary {
  font-family: "Playfair Display", serif;
}

.font-secondary {
  font-family: "Intel One Mono", monospace;
}

.custom-container {
  margin-top: 20px;
  margin-left: auto; /* mx-auto */
  margin-right: auto;
  max-width: 56rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.line {
  margin: 2.5rem 0;
  border: none;
  border-top: 1px solid rgb(226 232 240); /* slate-200 */
}

@media (min-width: 768px) {
  .custom-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
