---
import Image from "astro/components/Image.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import ProfileImg from "@/assets/personal/profile.png";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="custom-container flex gap-20 py-20! min-h-100vh!">
      <div class="space-y-4">
        <h1 class="font-primary text-3xl mb-7">
          Hi, I’m Alva - I build systems, products, and ideas into something
          usable.
        </h1>

        <p class="font-secondary">
          I believe in the power of creation and the impact we can have through
          our work.
        </p>

        <p class="font-secondary">
          I'll be sharing my thoughts, projects, and anything else that I find
          interesting. Stay tuned!
        </p>

        <p class="font-secondary">
          This space is where I document what I’m building, what I’m learning,
          and how I think.
        </p>
      </div>
      <Image src={ProfileImg} class="w-80" alt="Profile picture" />
    </main>
    <Footer />
  </body>
</html>
