---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="border-b border-slate-200 bg-white/90 backdrop-blur-md">
  <nav class="custom-container flex items-center justify-between">
    <h2
      class="font-primary text-xl font-bold tracking-tight text-slate-900 md:text-3xl"
    >
      <a href="/">{SITE_TITLE}</a>
    </h2>

    <div class="font-secondary flex items-center gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
