---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/ui/FormattedDate.astro";
import Header from "@/components/ui/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE, TECH_STACK } from "@/consts";
import WorkCard from "@/components/Work/WorkCard.astro";
import Footer from "@/components/ui/Footer.astro";
import BaseHead from "@/components/ui/BaseHead.astro";
import TechStackTabs from "@/components/Work/TechStackTabs.astro";

const works = (await getCollection("work"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.isDraft);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="custom-container">
      <div class="mb-12">
        <h1
          class="font-primary text-3xl font-bold tracking-tight text-slate-900"
        >
          Work
        </h1>
        <p class="font-secondary mt-4 text-lg text-slate-600 mb-10">
          My Past Projects and Experiences.
        </p>

        <TechStackTabs />

        <hr class="mt-12 line" />
      </div>
      <div class="space-y-6">
        {works.map((work) => <WorkCard work={work} slug={work.id} />)}
      </div>
    </main>
    <Footer />
  </body>
</html>
