---
interface Props {
  title: string;
  variant?: "warning" | "info";
}

const { title, variant = "warning" } = Astro.props;

const styles = {
  warning: {
    wrapper: "border-yellow-500/20 bg-yellow-500/5",
    title: "text-yellow-400",
  },
  info: {
    wrapper: "border-blue-500/20 bg-blue-500/5",
    title: "text-blue-400",
  },
};

const style = styles[variant];
---

<div
  class={`rounded-lg border px-4 pt-4 text-sm text-gray-500 ${style.wrapper}`}
>
  <div class={`font-semibold ${style.title} text-xl mb-3`}>{title}:</div>

  <slot />
</div>
